name: API Tests with Pytest and Allure

on:
  push:
    branches: [ development, main ]
  pull_request:
    branches: [ development, main ]

jobs:
  test:
    name: Run API Tests
    runs-on: ubuntu-latest

    env:
      BASE_URL: ${{ secrets.BASE_URL }}
      API_KEY : ${{ secrets.API_KEY }}
      API_SECRET : ${{ secrets.API_SECRET }}
      API_KEY_READ : ${{ secrets.API_KEY_READ }}
      API_SECRET_READ : ${{ secrets.API_SECRET_READ }}
      API_KEY_WRITE : ${{ secrets.API_KEY_WRITE }}
      API_SECRET_WRITE : ${{ secrets.API_SECRET_WRITE }}
      API_SECRET_EXPIRED : ${{ secrets.API_SECRET_EXPIRED }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Pytest with Allure
        run: |
          pytest --alluredir=reports/allure-results

      - name: Generate Allure HTML report
        run: |
          allure generate reports/allure-results -o reports/allure-report --clean

      - name: Upload Allure HTML report
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: reports/allure-report
